body {
  font-family: "Poppins", sans-serif !important;
}

h1.text {
  font-size: 500%;
}
* {
  margin: 0;
}

body {
  background: #e8a0bf !important;
}

figure {
  height: 650px;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}
