:root {
  --orange: #ff9f1c;
  --red: #e71d36;
  --blue: #2ec4b6;
  --paleblue: #80a1c1;
  --green: #3d7a3b;
  --cream: #f6d8ae;
  --darkgrey: #252323;
  --dark: #011627;
  --light: #acbdba;
  --boxborder: 6px;
  --ballborder: 12px;
}

html {
  font-size: 0.8em;
  color: var(--dark);
  background-color: var(--darkgrey);
  text-align: center;
}
body {
  font-family: "Poppins", sans-serif !important;
  background-color: #252323 !important;
}
a {
  color: var(--dark);
}
svg:hover {
  background-color: var(--light);
}
h3:hover {
  background-color: var(--light);
}
li img:hover {
  border-color: var(--light);
}
.text {
  font-size: 500%;
}
canvas {
  display: none;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100px;
  height: 75px;
}

.anarchy {
  position: absolute;
  visibility: hidden;
}

.photo img {
  width: 120px;
  height: 120px;
  border: var(--ballborder) solid var(--orange);
}
#intro {
  background-color: var(--orange);
  font-size: 18px;
  width: 180px;
  padding: 10px;
  font-size: 22px;
  border: var(--boxborder) solid var(--dark);
}
h1 {
  width: 320px;
  height: 350px;
  padding-top: 10px;
  font-size: 70px;
  background-color: var(--orange);
  border: var(--boxborder) solid var(--dark);
}

h2 {
  width: 150px;
  height: 110px;
  padding-top: 10px;
  font-size: 50px;
  background-color: var(--orange);
  border: var(--boxborder) solid var(--dark);
}
h3 {
  width: 200px;
  padding-top: 10px;
  font-size: 40px;
  background-color: var(--blue);
  border: var(--boxborder) solid var(--dark);
}
.smaller {
  width: 240px;
}
svg {
  fill: var(--red);
  background-color: var(--dark);
  display: block;
  border-radius: 100%;
}
li > div {
  background-color: var(--green);
  width: 180px;
  padding: 10px;
  font-size: 14px;
  border: var(--boxborder) solid var(--dark);
}
p {
  margin-bottom: 10px;
}
li {
  text-decoration: none;
  display: grid;
}
